*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 97, 70);
    
}
body{
    background: #282828;
}

header{
    display: flex;
    background-color: white;
    margin-top: none;
    height: 80px;
    border-bottom: solid 10px tomato;
    
    
}
.fas, .fab{
    color: rgb(255, 97, 70);
}
footer{
    background-color: white;
    margin-top: 10px;

}
header{
    margin-bottom: 0;
    justify-content: space-between;
  
}
a{
    text-decoration: none;
    outline: none;
    font-size: 2em;
    margin-left: 0%; 
    justify-content: flex-end;
    
}
.fa-play, .fa-stop{
    font-size: 3em;
}
.left-header{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}
.fa-cuttlefish{
    margin-left: 35%;
    font-size: 3em;
}
.about{
    float: right;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20%;
    margin-right: 50%;
    font-weight: bolder;
    
}
.control-zone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sequencer{
    box-sizing: border-box 1px;
    background-color: white;
    border: solid 10px tomato;

    margin: 70px 3%;
}
button{
    border: none;
    background: none
}
#controlButtons{
    /* margin-left: 10%;
    margin-top: 5%; */
    font-size: 40px;
    padding-right: 10px;
    padding: 10px;
    ;
}
.table{
    width: 99%;
    margin: 0 20px;
    /* border: 1px;
    margin: 5px;
    padding: 5px; */
}
input[type=range] {
    -webkit-appearance: none;
    background: tomato;   
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    color: white;
}
  
.table td, table, th{
    padding: 12px 15px;
    text-align: center;
    /* min-height: 500px;
    min-width */
}
.grille-top{
    /* display: flex; */
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#D3D3D3, #696969);
    flex : 1 0 calc(0.17%);
    border-radius: 3px;
    color: black;    
}
.firstKickcolor{
    background: radial-gradient(#FFFF00, #ff440081);
}

.grille-kick .step {
    /* display: flex; */
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#7CFC00, #008000);
    border-radius: 3px;
   
}
.grille-snare .step {
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#FFFF00, #FF4500);
    border-radius: 3px;

}
.grille-OpenHihat .step {
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#dfd46fe7, #FFFF00);
    border-radius: 3px;
}

.grille-CloseHihat .step {
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#e6e6fac0, #FF00FF);
    border-radius: 3px;
    

}

.tbody tr, td{
    background: radial-gradient(#D3D3D3, #696969);
    border-radius: 3px;
    color: black;
}


/* .step:active{
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#ec624ac9, #800000);
    border-radius: 3px;
} */

.step.selected{
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#f5a4966b, #dd1f1fd8);
    border-radius: 3px;
}

.blinkBeat {
    margin: 3px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#f5a4966b, #dd1f1fd8);
    border-radius: 3px;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 13px;
    font-size: 2em ;
    
}
footer {
    position: absolute; 
    width: 100%;
    height: 10%;
    bottom: 0;
    border-top: solid 10px tomato;

}




